*{/*Formato de mi hoja o ventana completa */
    margin:0px;
    padding: 0px;
   }

.buscador{
    float: left;
    position: relative;
    padding-left: 70%;
    display: flex;
    
}

.botoncito{
    font-size: 40px !important;
    padding: 5px;
}
#search {
    border-bottom: 2px solid white;
    color: white;
    margin-left: 9rem;
}
/*.buscador > input{
   border:5px;
}*/